/* React est un outil front-end ; le css représente environ 40%  du temps */
.btn-modal{
    padding:10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

/* prendre tout l'espace pour épingler le texte et el s2d button et recouvre tout avec une couleur */
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(49, 49, 49, .8);
}

.modal{
    position: absolute; /* relative à overlay */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* centrage */
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

/* le paragraphe */
.modal-content p{
    line-height: 1.4;
}
.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}